
@{
    ViewData["Title"] = "Reports";
}
<div class="prueba ">
    <form class="form-inline">
        <h1 class="col-12">REPORTES</h1>
        <div class="fecha col-12 col-md-2">
            <label class="labelRerpotes">Año</label>	&nbsp;
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>-</option>
                <option value="1">2019</option>
                <option value="2">2018</option>
                <option value="2">2017</option>
            </select> &nbsp;
        </div>
        <div class="fecha col-12 col-md-2">
            <label class="labelRerpotes">Mes</label>	&nbsp;
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>-</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="2">Marzo</option>
            </select>&nbsp;
        </div>&nbsp;
        <div class="cuenta col-12 col-md-2">
            <label class="labelRerpotes">Cuenta</label>	&nbsp;
            <select class="custom-select col-12 col-md-4 cuenRepor" id="inlineFormCustomSelect">
                <option selected>-</option>
                <option value="1">2019</option>
                <option value="2">2018</option>
                <option value="2">2017</option>
            </select>&nbsp;
        </div>&nbsp;
        <div class="negocio col-12 col-md-2">
            <label class="labelRerpotes">Negocio</label>	&nbsp;
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>-</option>
                <option value="1">GDS</option>
                <option value="2">ATOS</option>
                <option value="2">TIVIT</option>
            </select>
        </div>
        <button id="btnSearch" type="button" class="col-3 col-md-1 btn btn-primary">Filtrar</button> &nbsp;
        <button id="btnClear" type="button" class="col-3 col-md-1 btn btn-primary">Limpiar</button>&nbsp;

    </form>
</div>
<p></p>
<div id="dialog">
    <input type="hidden" id="ID" />
    <form id="menu" class="menuUsuario col-12 col-md-6">
        <div class="form-group ">
            <input type="text" class="form-control" id="NombreNegocio" placeholder="Nombre negocio">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="DescripcionNegocio" placeholder="Descripción" />
        </div>
        <div class="form-group">
            <!--<input type="text" class="form-control" id="Estado" placeholder="Estado" />-->
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Estado</option>
                <option value="1">Activado</option>
                <option value="2">Desactivado</option>
            </select>
        </div>
        <button type="button" id="btnSave" class="btn btn-primary col-12 col-md-4 ">Guardar</button>&nbsp;
        <button type="button" id="btnCancel" onclick="ocultar()" class="btn btn-primary col-12 col-md-4">Cancelar</button>
    </form>
</div>
<div class="table-responsive">
    <table id="tableUsu" class="table table-dark table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td> </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>